
<h1 class="d-flex justify-content-center">Bienvenido @ViewBag.NombreUserLogueado</h1>
<br />
<div class="d-flex flex-row mb-3 align-items-center justify-content-center">
    @{ if (ViewBag.UserLogueado == 0)
        {
            <form asp-controller="Pedido" asp-action="Index"><input type="submit" class="btn peach-gradient" value="Pedidos"></form>
            <form asp-controller="Cadete" asp-action="Index"><input type="submit" class="btn blue-gradient" value="Cadetes"></form>
            <form asp-controller="Cliente" asp-action="Index"><input type="submit" class="btn aqua-gradient" value="Clientes"></form>
            <form asp-controller="User" asp-action="Desloguearse"><input type="submit" class="btn purple-gradient-rgba" value="Cerrar Sesion"></form>
        }
        else if (ViewBag.UserLogueado == 1)
        {
            <form asp-controller="Pedido" asp-action="Index"><input type="submit" class="btn peach-gradient" value="Pedidos"></form>
            <form asp-controller="Cadete" asp-action="Index"><input type="submit" class="btn blue-gradient" value="Cadetes"></form>
            <form asp-controller="User" asp-action="Desloguearse"><input type="submit" class="btn purple-gradient-rgba" value="Cerrar Sesion"></form>
        }
        else if (ViewBag.UserLogueado == 2)
        {
            <form asp-controller="Pedido" asp-action="AltaPedido"><button type="submit" class="btn peach-gradient">Nuevo Pedido</button></form>
            <form asp-controller="Cliente" asp-action="Index"><input type="submit" class="btn aqua-gradient" value="Clientes"></form>
            <form asp-controller="User" asp-action="Desloguearse"><input type="submit" class="btn purple-gradient-rgba" value="Cerrar Sesion"></form>
        }
        else
        {
            <form asp-controller="User" asp-action="Index"><input type="submit" class="btn purple-gradient" value="Iniciar Sesion"></form>
        }
    }
</div>