@model tp6.ViewModel.AltaPedidoViewModel
<div class="card">
    <div class="header pt-3 peach-gradient">
        <div class="row d-flex justify-content-center">
            <h3 class="white-text mb-3 pt-3 font-weight-bold">Modificación de Pedidos</h3>
        </div>
    </div>
    <div class="card-body mx-4 mt-4">
        <form class="text-center" style="color: #757575;" asp-action="Modificar" method="post">
            <input type="hidden" value="@Model.NumeroDePedido" asp-for="NumeroDePedido" />
            <div class="md-form">
                <textarea asp-for="Observacion" class="form-control z-depth-1" id="Textarea6" rows="3" placeholder="Ingrese su observacion..."></textarea>
            </div>
            <div class="md-form">
                <select asp-for="TPedido">
                    <option value="0">Delicado</option>
                    <option value="1">Express</option>
                    <option value="2">Ecologico</option>
                </select>
            </div>
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Enviar</button>
        </form>
        <form asp-action="AltaPedido" class="form-group">
            <button type="submit" class="btn btn-outline-info waves-effect">Enviar</button>
        </form>
    </div>
</div>